
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/living_budget.js}"></script>
</head>
<body>
	<div class="container">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
				<a class="navbar-brand" th:href="@{/}"> <!-- 企業ロゴ --> <img
					alt="main log" th:src="@{/image/title.png}" height="50">
				</a>
			</nav>
			<nav class="navbar navbar-light mb-2"
				style="background-color: #e3f2fd;">
				<div>
					<span th:text="${session.user.manName}+'さん'"></span><span
						th:text="${manSalary}" id="manSalary"></span>
				</div>
				<div>
					<span th:text="${session.user.womanName}+'さん'"></span><span
						th:text="${womanSalary}" id="womanSalary"></span>
				</div>
				今月の予算を算出します。<br> 項目と予算をそれぞれ追加してください。<br> <br> <br>
				<br> <br>
				<form th:action="@{/registerBudget}" method="POST">
					<input type="hidden" th:value="${salaryId}" name="salaryId">
					<input type="hidden" th:value="${session.user.userId}"
						name="userId">
					<nobr>
						<!-- 						<input type="button" class="btn btn-primary" id="add_category_btn" -->
						<!-- 							value="項目を追加"> -->
					</nobr>
					<br>
					<ul id="category_ul" style="list-style: none;">
						<li>項目1&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li></li>
						<li>項目2&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li>項目3&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li></li>
						<li>項目4&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li>項目5&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li></li>
						<li>項目6&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
						<li>項目7&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" class="budget"></li>
					</ul>
					<input type="button" class="btn btn-primary" id="calculatePocketMoney" value="お小遣いを計算"><br>
					<ul style="list-style: none;">
						<li><input th:value="${session.user.manName}+'さんのお小遣い'" type="text"
							name="categoryNameList" readonly="readonly"> &nbsp;&nbsp;&nbsp;予算 <input type="text"
							name="budgedList" id="manPocketMoney"></li>
						<li><input th:value="${session.user.womanName}+'さんのお小遣い'" type="text"
							name="categoryNameList">&nbsp;&nbsp;&nbsp; 予算 <input type="text"
							name="budgedList" id="womanPocketMoney"></li>

					</ul>
					<ul style="list-style: none;">
						<li>貯金&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList"> 予算 <input type="text"
							name="budgedList" id="savings"></li>

					</ul>
					<button class="btn btn-primary">送信</button>
				</form>
			</nav>
		</div>
	</div>
	<!-- end container -->
	<!-- 	<script -->
	<!-- 		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>