
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
				<a class="navbar-brand" th:href="@{/}"> <!-- 企業ロゴ --> <img
					alt="main log" th:src="@{/image/title.png}" height="50">
				</a>
			</nav>
			<nav class="navbar navbar-light mb-2"
				style="background-color: #e3f2fd;">
				
<!-- 						<form th:action="@{/salary/salaryInsert}" method="POST" id="registerSalary"> -->
				<form th:action="@{/registerBudget}" method="POST">
			<!-- table -->
			<div class="row">
				<div
					class="table-responsive col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
					<h3 class="text-center">収入入力</h3>
<!-- 					<input type="hidden" name="userId"> -->
					<!-- th:value="${user.userId}" -->
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<div class="text-center">日付</div>
								</td>
								<td>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label" style="color: red"
													for="inputPeriod">日付を入力してください</label>
											</div>
											<div class="col-sm-5">
												<input type="date" name="date" id="deliveryTime"
													class="form-control input-sm" min="deliveryTime" />
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center" th:text="${session.user.manName}">男性名前</div>
									<!-- th:text="${user.manName}" -->
								</td>
								<td>
								

									<div class="col-sm-12">
										<label class="control-label" style="color: red"
											for="inputPeriod">給与を入力してください</label>
									</div> <input type="text" name="manSalary" class="Salary" id="manSalary">
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center" th:text="${session.user.womanName}">女性名前</div>
									<!-- th:text="${user.womanName}" -->
								</td>
								<td>
									<div class="col-sm-12">
										<label class="control-label" style="color: red"
											for="inputPeriod">給与を入力してください</label>
									</div> <input type="text" name="womanSalary" class="Salary" id="womanSalary">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-offset-2 col-xs-8">
					<div class="form-group text-center">
						<span id="total-price">収入合計：<span id="totalSalary"></span>円
						</span>
					</div>
				</div>
			</div>

			<div class="col-xs-offset-4 col-xs-4">
<!-- 				<div class="form-group"> -->
<!-- 					<input class="form-control btn btn-warning btn-block" type="submit" -->
<!-- 						value="登録する"> -->
<!-- 					<a class="form-control btn btn-warning btn-block" th:href="@{/showMainMenu}" th:text="戻る"></a> -->
<!-- 				</div> -->
				
			</div>
<!-- 		</form> -->
		<br><br>

				
				
<!-- 				<div> -->
<!-- 					<span th:text="${session.user.manName}+'さん'"></span> -->
<!-- 					<span th:if="${session.salary}" -->
<!-- 						th:text="${session.salary.manSalary}" id="manSalary"></span> -->
<!-- 				</div> -->
<!-- 				<div> -->
<!-- 					<span th:text="${session.user.womanName}+'さん'"></span> -->
<!-- 					<span th:if="${session.salary}" -->
<!-- 						th:text="${session.salary.womanSalary}" id="womanSalary"></span> -->
<!-- 				</div> -->
				今月の支出予算を算出します。<br> 項目と予算金額をそれぞれ入力してください。<br> 
				<input type="button" id="searchLatestBudget" value="先月の予算を表示">
				<br> <br>
				<br> <br>
					<input type="hidden" th:if="${session.salary}" th:value="${session.salary.id}" name="salaryId">
					<input type="hidden" th:value="${session.user.userId}" id ="userId"	name="userId">
					<nobr>
						<!-- 						<input type="button" class="btn btn-primary" id="add_category_btn" -->
						<!-- 							value="項目を追加"> -->
					</nobr>
					<br>
					<ul id="category_ul" style="list-style: none;">
						<li>項目1&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category1"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget1"></li>
						<li></li>
						<li>項目2&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category2"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget2"></li>
						<li>項目3&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category3"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget3"></li>
						<li></li>
						<li>項目4&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category4"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget4"></li>
						<li>項目5&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category5"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget5"></li>
						<li></li>
						<li>項目6&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category6"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget6"></li>
						<li>項目7&nbsp;&nbsp;&nbsp;<input type="text"
							name="categoryNameList" id="category7"> 予算 <input type="text"
							name="budgedList" class="budget" id="budget7"></li>
					</ul>
					<input type="button" class="btn btn-primary" id="calculatePocketMoney" value="お小遣いを計算"><br>
					<ul style="list-style: none;">
						<li><input  type="text"
							name="categoryNameList" id="category8"> &nbsp;&nbsp;&nbsp;予算 <input type="text"
							name="budgedList" id="manPocketMoney"></li>
						<li><input type="text"
							name="categoryNameList" id="category9">&nbsp;&nbsp;&nbsp; 予算 <input type="text"
							name="budgedList" id="womanPocketMoney"></li>

					</ul>
					<ul style="list-style: none;">
						<li><input type="text" 
							name="categoryNameList" id="category10"> &nbsp;&nbsp;&nbsp;予算 <input type="text"
							name="budgedList" id="savings"></li>

					</ul>
					<button class="btn btn-primary" id = "registerBudgetButton">送信</button>
					<a class="btn btn-primary" th:href="@{/showMainMenu}" th:text="戻る">戻る</a>
				</form>
				<a th:text=${session.user.manName} id="manName" style="display:none"></a>
				<a th:text=${session.user.womanName} id="womanName" style="display:none"></a>
			</nav>
		</div>
	</div>
	<!-- end container -->
	<!-- 	<script -->
	<!-- 		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" th:src="@{/js/living_budget.js}"></script>
</html>